$lightgreen:hsl(172, 100%, 48%);
$lightgreen-opacity:hsl(172, 100%, 48%, 0.3);
$lightgray-opacity:hsl(210, 16%, 93%, 0.2);
$lightgray:hsl(210, 16%, 93%);
$purewhite:#f0ffff;
$darkblue:hsl(211, 97%, 25%);
$error:rgb(221, 37, 37);
$proceed:rgb(34, 228, 34);
$blogbg:hsl(171, 76%, 51%);
