@use "scss/colors" as c;
@use "scss/font" as f;

*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img {
  pointer-events: auto;
  user-select: none;
}
body{
    margin :0;
    padding:0px;
    background-color: c.$purewhite;
    header{
        background-color: none;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        position:fixed;
        width:100%;
        z-index: 1000;
        top:0;
        animation: menubar 0.5s ease-in-out;
        animation-timeline: scroll();
        #logo{
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:10px;
            img{
                width:50px;
                height:50px;
                background-color:none;
            }
            h1{
                @include f.font-900;
                font-size: 1.5rem;
                color: c.$darkblue;
            }
            a{
                text-decoration: none;
                img{
                    width:50px;
                    height:50px;
                    background-color: none;
                }
            }
        }
        #right-header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:20px;
            h1{
                @include f.font-900;
                font-size: 1.5rem;
                color: c.$darkblue;
                a{
                    text-decoration: none;
                    color: c.$darkblue;
                }
            }
            button{
                padding:10px;
                border:0 solid transparent;
                border-radius: 5px;
                background-color: c.$lightgreen;
                animation: buttonheader 0.5s ease-in-out;
                animation-timeline: scroll();;
            }
        }
    }
    @keyframes menubar {
        0%{
            background-color: transparent;
        }
        15%,100%{
            background-color: c.$lightgreen;
        }
    }
    @keyframes buttonheader {
        15%, 100%{
            background-color: c.$darkblue;
            color: c.$lightgreen
        }
    }

    nav{
        margin-top:5rem;
        border: 1px solid black;
        #profile{
           display: flex;
           justify-content: center;
           align-items: center;
           background-color: transparent;
           gap:20px;
           padding:5rem;
           h1{
              @include f.font-900;
              font-size: 2rem;
              font-weight: 900;
              color: c.$darkblue;
            }
            code{
                @include f.font-montserrat;
                font-size: 1rem;
                font-weight: 400;
                color: c.$darkblue;
                background-color: c.$lightgreen;
                border-radius: 5px;
                padding:5px;
            }
            p{
                @include f.font-montserrat;
                font-size: 1rem;
                font-weight: 400;
                color: c.$darkblue;
                width:500px;
                text-align: justify;
                background-color: transparent;
                padding-top:1rem;
            }
            img{
               width:400px;
               height:400px;
               border: 0 solid transparent;
               border-top-left-radius:50%;
               border-top-right-radius:50%;
               filter: grayscale(100%);
            }
            button{
                @include f.font-montserrat;
                font-size: 1rem;
                font-weight:400;
                color:c.$darkblue;
                padding:10px;
                width:100px;
                border: 0 solid transparent;
                border-radius: 5px;
                background-color: c.$lightgreen;
            }
        }
        #blog{
            margin-left:1rem;
            padding:3rem;
            h1{
                @include f.font-900;
                font-size: 2rem;
                font-weight: 900;
                color: c.$darkblue;
            }
            h2{
                @include f.font-montserrat;
                font-size: 1.5rem;
                font-weight: 400;
                color: c.$darkblue;
            }
            #blog-creator{
                display: flex;
                justify-content:flex-start;
                align-items: center;
                gap:20px;
                background-color: c.$blogbg;
                border: 2px solid c.$lightgreen;
                border-radius:5px;
                margin-top: 1rem;
                padding:5px;
                width:fit-content;
                img{
                   width:50px;
                   height:50px;
                   border:0 solid transparent;
                   border-radius: 100%;
                   background-color: transparent;
                }
                #blog-create{
                    background-color: transparent;
                    h1{
                        @include f.font-900;
                        font-size: 1rem;
                        font-weight: 900;
                        color: c.$darkblue;
                        background-color: transparent;
                    }
                    p{
                       @include f.font-montserrat;
                       font-size:.75rem;
                       font-weight: 400;                
                       color: c.$darkblue;
                       background-color: transparent;
                       margin-top: 0;
                    }
                }
            }
            #blog-content{
                margin-top:1rem;
                img{
                    width:900px;
                    height:457px;
                    border:1px solid c.$darkblue;
                    border-radius: 10px;
                    background-color: transparent;
                }
                p{
                    @include f.font-montserrat;
                    font-size: 1rem;
                    font-weight: 400;
                    color: c.$darkblue;
                    background-color: transparent;
                    margin:1rem 0 1rem 0;
                    width:900px;
                }
            }
        }    
    }
    section{
        padding:3rem;
        border:1px solid orange;
        #About-me{
           padding:3rem;
           display:flex;
           justify-content: space-between;
           align-items: center;
           gap:20px;
           background-color: transparent;
           width:100%;
           border:1px solid violet;
           #about-text{
                h1{
                    @include f.font-900;
                    font-size: 2rem;
                    font-weight: 900;
                    color:c.$darkblue;
                    background-color: transparent;
                }
                p{
                    @include f.font-montserrat;
                    font-size: 1rem;
                    font-weight: 400;
                    color: c.$darkblue;
                    width:500px;
                    padding-top:1rem;
                    background-color: transparent;
                }
            }
            #about-content{
                margin-left:-1rem;
                padding:1rem;
                border:1px solid c.$lightgreen;
                border-radius: 15px;
                width:180px;
                background-color: c.$lightgreen-opacity;
                img{
                    width:25px;
                    height:25px;
                    background-color: transparent !important;
                }
                h1{
                    @include f.font-900;
                    font-size: 5rem;
                    font-weight: 900;
                    color:c.$darkblue;
                    background-color: transparent;
                }
                p{
                    padding-top:1rem;
                    background-color: transparent;
                }
                #content-image{
                    padding:0;
                    bottom:0;
                    background-color: transparent;
                    img{
                        margin-top:1rem;
                        width:150px;
                        height:150px;
                        border: 0 solid transparent;
                        border-radius: 15px;
                        background-color: transparent !important;
                    }
                }
            }
            #about-education{
                padding:1rem;
                img{
                    width:150px;
                    height:150px;
                    border:0 solid transparent;
                    border-radius: 15px;
                    background-color: transparent;
                }
                h1{
                    margin-top:2rem;
                    @include f.font-900;
                    font-size: 2rem;
                    font-weight: 900;
                    color: c.$darkblue;
                    background-color: transparent;
                }
                ul{
                    background-color: transparent;
                    li{
                        list-style-type: none;
                        padding:5px;
                        margin-top: 1rem;
                        @include f.font-montserrat;
                        font-size: 1rem;
                        font-weight:400;
                        color:c.$darkblue;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    aside{
        border:1px solid green;
        padding:3rem;
        #aside-projects{
            padding:3rem;
            border:1px solid green;
            h1{
                @include f.font-900;
                font-size: 2rem;
                font-weight:900;
                color:c.$darkblue;
            }
            ul{
                margin-top: 2rem;
                margin:1rem;
                li{
                    list-style-type: none;
                    @include f.font-montserrat;
                    font-size: 1rem;
                    font-weight:400;
                    color:c.$darkblue;
                    display: flex;
                    justify-content: flex-start;
                    gap:20px;
                    margin:1rem;
                    padding:1rem;
                    background-color: c.$lightgray-opacity;
                    border: 1px solid c.$lightgray;
                    border-radius: 5px;
                    img{
                        width:400px;
                        height:200px;
                        border:1px solid c.$darkblue;
                    }
                    #list-project-title{
                        padding:5px;
                        code{
                            margin-top:1rem;
                            font-size: .75rem;
                            background-color: c.$lightgreen;
                            border:0 solid transparent; 
                            border-radius:5px;
                            padding:10px;
                            
                        }
                    }
                    #list-project-info{
                        margin-top: 2rem;
                    }
                    
                }
            }
        }
    }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:2rem;
    background-color: c.$darkblue;
    color:c.$purewhite;
    position:relative;
    p{
        @include f.font-montserrat;
        font-size: 1rem;
        background-color: transparent;
    }
    ul{
        background-color: transparent;
       li{
        display: inline;
        list-style-type: none;
        background-color: transparent;
        padding:5px;
        color: c.$purewhite;
        @include f.font-montserrat;
        font-size: 1rem;
        img{
            width:50px;
            height:50px;
            background-color: transparent;
        }
       }
    }
}
