@use "scss/colors" as c;
@use "scss/font" as f;

*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: c.$purewhite;//azure
}
img {
  pointer-events: auto;
  user-select: none;
}
body{
    margin :0;
    padding:0px;
    header{
        background-color: none;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        position:fixed;
        width:100%;
        z-index: 1000;
        top:0;
        #logo{
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:10px;
            img{
                width:50px;
                height:50px;
                background-color:none;
            }
            h1{
                @include f.font-900;
                font-size: 1.5rem;
                color: c.$darkblue;
            }
        }
        #right-header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap:20px;
            h1{
                @include f.font-900;
                font-size: 1.5rem;
                color: c.$darkblue;
                a{
                    text-decoration: none;
                    color: c.$darkblue;
                }
            }
            button{
                padding:10px;
                border:0 solid transparent;
                border-radius: 5px;
                background-color: c.$lightgreen;
            }
        }
    }
    nav{
        margin-top:5rem;
        border: 1px solid black;
        #profile{
           display: flex;
           justify-content: center;
           align-items: center;
           background-color: transparent;
           gap:20px;
           padding:5rem;
           h1{
              @include f.font-900;
              font-size: 2rem;
              font-weight: 900;
              color: c.$darkblue;
            }
            code{
                @include f.font-montserrat;
                font-size: 1rem;
                font-weight: 400;
                color: c.$darkblue;
                background-color: c.$lightgreen;
                border-radius: 5px;
                padding:5px;
            }
            p{
                @include f.font-montserrat;
                font-size: 1rem;
                font-weight: 400;
                color: c.$darkblue;
                width:500px;
                text-align: justify;
                background-color: transparent;
                padding-top:1rem;
            }
            img{
               width:400px;
               height:400px;
               border: 0 solid transparent;
               border-top-left-radius:50%;
               border-top-right-radius:50%;
               filter: grayscale(100%);
            }
            button{
                @include f.font-montserrat;
                font-size: 1rem;
                font-weight:400;
                color:c.$darkblue;
                padding:10px;
                width:100px;
                border: 0 solid transparent;
                border-radius: 5px;
                background-color: c.$lightgreen;
            }
        }
        #blog{
            margin-left:1rem;
            padding:3rem;
            h1{
                @include f.font-900;
                font-size: 2rem;
                font-weight: 900;
                color: c.$darkblue;
            }
            h2{
                @include f.font-montserrat;
                font-size: 1.5rem;
                font-weight: 400;
                color: c.$darkblue;
            }
        }    
    }
    section{
        padding:3rem;
        border:1px solid orange;
        #About-me{
           padding:3rem;
           display:flex;
           justify-content: space-between;
           align-items: center;
           gap:20px;
           background-color: transparent;
           width:100%;
           border:1px solid violet;
           #about-text{
                h1{
                    @include f.font-900;
                    font-size: 2rem;
                    font-weight: 900;
                    color:c.$darkblue;
                }
                p{
                    @include f.font-montserrat;
                    font-size: 1rem;
                    font-weight: 400;
                    color: c.$darkblue;
                    width:500px;
                    padding-top:1rem;
                }
            }
            #about-content{
                margin-left:-1rem;
                padding:1rem;
                border:0 solid transparent;
                border-radius: 15px;
                width:180px;
                background-color: c.$lightgreen;
                img{
                    width:25px;
                    height:25px;
                    background-color: transparent;
                }
                h1{
                    @include f.font-900;
                    font-size: 5rem;
                    font-weight: 900;
                    color:c.$darkblue;
                    background-color: transparent;
                }
                p{
                    padding-top:1rem;
                    background-color: transparent;
                }
                #content-image{
                    padding:0;
                    bottom:0;
                    background-color: transparent;
                    img{
                        padding:5px;
                        width:150px;
                        height:150px;
                        border: 0 solid transparent;
                        border-radius: 15px;
                        background-color: transparent;
                    }
                }
            }
            #about-education{
                padding:1rem;
                img{
                    width:150px;
                    height:150px;
                    border:0 solid transparent;
                    border-radius: 15px;
                    background-color: transparent;
                }
                h1{
                    margin-top:2rem;
                    @include f.font-900;
                    font-size: 2rem;
                    font-weight: 900;
                    color: c.$darkblue;
                    background-color: transparent;
                }
                ul{
                    background-color: transparent;
                    li{
                        list-style-type: none;
                        padding:5px;
                        margin-top: 1rem;
                        @include f.font-montserrat;
                        font-size: 1rem;
                        font-weight:400;
                        color:c.$darkblue;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:2rem;
    background-color: c.$darkblue;
    color:c.$purewhite;
    position:relative;
    p{
        @include f.font-montserrat;
        font-size: 1rem;
        background-color: transparent;
    }
    ul{
        background-color: transparent;
       li{
        display: inline;
        list-style-type: none;
        background-color: transparent;
        padding:5px;
        color: c.$purewhite;
        @include f.font-montserrat;
        font-size: 1rem;
        img{
            width:50px;
            height:50px;
            background-color: transparent;
        }
       }
    }
}
