:root{
  --bg-header:#00f5d4;
  --bg-projectspage:#f8f9fa;
  --font-color:#023e7d;
}
*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #f0ffff;//azure
}
img {
  pointer-events: auto;
  user-select: none;
}
header{
    margin-top:-3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index:100;
    #logo{
        display: flex;
        align-items: center;
        img{
            width:50px;
            height:50px;
            padding:5px;
        }
        h1{
            color: var(--font-color);
            font-size: 2rem;
        }
    }
    #app{
    margin:0;
    padding:10px;
    color:var(--font-color);
    font-size: 2rem;
    }
}
nav{
    #banner{
        margin:3rem;
        margin-left:-1rem;
        width:100vw;
        display:flex;
        justify-content: space-between;
        padding:2rem;
        align-items: center;
        #profile-info{
            position:relative;
            margin:10rem;
            margin-left:10rem;
            p,code{
                margin-bottom:20px;
            }
            p{
                color:var(--font-color);
                font-weight: bold;
                font-size: 2.75rem;
            }
            code{
                color:var(--font-color);
                border:0 solid transparent;
                border-radius:5px;
                margin-top:15px;
                padding:5px;
                font-size: 1rem;
                background-color: var(--bg-header);
            }
            #bio{
                margin-top:20px;
            }
            button{
                padding:10px;
                font-size:1rem;
                border:0 solid transparent;
                border-radius: 5px;
                color:var(--font-color);
                background-color: var(--bg-header);
                width:250px;
            }
        }
        #profile-pic{
            position: relative;
            margin:20px;
            margin-right:30rem;
            img{
                border:0 solid transparent;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                filter: grayscale(50);
            }
        }
    }
}
body{
    margin:0;
    #info{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding:8rem;
        width:100%;
        margin:0;
        #Aboutme{
            background-color: transparent;
            padding:1rem;
            width:500px;
            margin-left:2rem;
            h1{
                font-size: 2rem;
                color: var(--font-color);
                background-color: transparent;
            }
            p{
                font-size: 1rem;
                background-color: transparent;
            }
        }
        #clientsAverage{
            background-color: var(--bg-header);
            padding:1rem;
            margin-left:-8rem;
            width:200px;
            height:450px;
            border: 0 solid transparent;
            border-radius:10px;
            position:relative;
            img{
                width: 30px;
                height:30px;
                background-color: transparent;
            }
            h1{
                font-size: 5rem;
                color: var(--font-color);
                background-color: transparent;
            }
            p{
                font-size: 1rem;
                background-color: transparent;
                margin:5px;
                margin-bottom:1rem;
            }
            #profile-pic-small{
                background-color: transparent;
                position: absolute;
                bottom:10px;
                img{
                    bottom:-150px;
                    width:170px;
                    height:170px;
                    border: 0 solid transparent;
                    border-radius:10px;
                    filter: grayscale(50);
                }
            }
        }
        #experience{
            background-color: transparent;
            padding:1rem;
            margin-left:-8rem;
            img{
                width:200px;
                height:200px;
                padding:.50rem;
                margin-left:0rem;
                background-color: transparent;
                border: 0 solid transparent;
                border-radius:20px;
                filter: grayscale(50);
            }
            h1{
                font-size: 2rem;
                color:var(--font-color);
                background-color: transparent;
            }
            ul{
                display: block;
                margin: 0;
                padding: 10px;
                background-color: transparent;
               li{
                  margin:0;
                  padding:15px;
                  background-color: transparent;
                  list-style-type:none;
                }
                li::before{
                    content:counter(list-item);
                    background-color: var(--bg-header);
                    border:0 solid transparent;
                    border-radius: 0 40px 25px 25px;
                    width:50px;
                    height:50px;
                    padding:10px;
                    font-size: 1rem;
                    
                }
            }
        }
    }
    #portfoliopage{
        background-color: var(--bg-projectspage);
        border-top:10px solid var(--font-color);
        #portfolioheader{
            margin:5rem;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                font-size: 2rem;
                color: var(--font-color);
                background-color:transparent;
            }
            p{
                font-size: 1rem;
                background-color: transparent;
                color: var(--font-color);
            }
        }
        #portfoliolist{
            margin:0;
            padding:2rem;
            background-color: transparent;
            ul{
                padding:2rem;
                background-color: transparent;
                display: block;
                position: relative;
                list-style-position: inside;
                li{
                    padding:1rem;
                    background-color: transparent;
                    #portfolioitem{
                        display: flex;
                        justify-content:right;
                        align-items: center;
                        background-color: transparent;
                        gap:30px;
                        margin-top:-5rem;
                        img{
                            width:400px;
                            height:200px;
                            border:1px solid var(--font-color);
                            border-radius: 15px;
                            background-color: transparent;
                        }
                        p{
                            font-size: 1rem;
                            background-color: transparent;
                            width:400px;
                            code{
                                color:var(--font-color);
                                border:0 solid transparent;
                                border-radius: 15px;
                                padding:5px;
                                background-color: var(--bg-header);
                            }
                        }
                    }
                }
                li::marker{
                    counter-increment:list-item;
                    content:counter(list-item) ":";
                    color:var(--font-color);
                    font-size: 5rem;
                }
            }
        }
    }
}
